<div id="<%= dom_id team %>" class="w-7/8 m-5 items-center mx-5 bg-white shadow-lg rounded-lg border-double border-4 border-sky-500">
  <div class="p-4 text-center">
    <h2 class="text-xl font-semibold mb-2">Team Name: <%= team.name %></h2>
    <p class="text-gray-700 text-sm">Leader: <%= team.leader.name %></p>
  </div>

  <div class="px-4 py-2 px-3 text-center">
    <ul class="text-gray-700 text-sm bg-gray-100">
        <% team.employees.each do |employee| %>
          <li><%= employee.name %></li>
        <% end %>
    </ul>
  </div>

  <div class="w-full px-4 py-2 px-3 bg-gray-200 text-sm ">
    <% if action_name != "show" %>
      <ul class="flex items-center flex-col-2">
<!--        <li class=" w-1/2 m-5 "><%#= link_to "Show this employee", employee, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium text-center w-full bg-gray-300 rounded-full" %></li>-->
<!--        <li class=" w-1/2 m-5  "><%#= link_to 'Edit this employee', edit_employee_path(employee), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium text-center w-full bg-gray-300 rounded-full" %></li>-->
      </ul>
    <% end %>
  </div>
</div>


<!--<div id="<%#= dom_id team %>">-->
<!--  <p class="my-5">-->
<!--    <strong class="block font-medium mb-1">Name:</strong>-->
    <%#= team.name %>
<!--  </p>-->

<!--  <p class="my-5">-->
<!--    <strong class="block font-medium mb-1">Leader:</strong>-->
    <%#= team.leader.name %>
<!--  </p>-->

<!--  <strong class="block font-medium mb-1">Team Members:</strong>-->
  <%# team.employees.each do |employee| %>
<!--    <p class="my-5">-->
      <%#= employee.name + " :: dep: " + employee.department %>
<!--    </p>-->
  <%# end %>

  <%# if action_name != "show" %>
    <%#= link_to "Show this team", team, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to 'Edit this team', edit_team_path(team), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
<!--    <hr class="mt-6">-->
  <%# end %>
<!--</div>-->
