<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing blind date</h1>

  <%= render "form", blind_date: @blind_date %>

  <%= link_to "Show this blind date", @blind_date, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to blind dates", blind_dates_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
